$border-grey: #ccc;
$titleBg: #2f7fd0;
$taskHeadLine: #f1f2f3;
$light-blue: #d0eafa;
#editmap{
  width:100%;
  height:100%;
  min-width:1080px;
  //******************* 工具条 *********************

  .toolBar {

    width: 100%;
    height: 40px;
    border-bottom: 1px $border-grey solid;
    font-size: 14px;
    .tools {
      height: 30px;
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: left;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding:5px 10px;
    }
    li {
      display: inline-block;
      cursor: pointer;
    }

    .toolOne {
      width: 100px;
    }

    .toolScan {
      width: 180px;
      border-left: 1px $border-grey solid;
      border-right: 1px $border-grey solid;
    }
    .tooEdit{
      width: 700px;
      li{
        border-right: 1px $border-grey solid;
        padding:0 10px;
        img{
          margin:0 5px;
        }
        span{
          margin:0 5px;
        }
      }
    }
  }



  //******************* 任务 *********************
  .Layers {
    width: 230px;
    float: left;
    height: 0;
    border-right: 1px solid $border-grey;
    .headline {
      background: $taskHeadLine;
      height: 30px;
      font-size: 1.3em;
      color: $titleBg;
      line-height: 30px;
      padding-left: 20px;
    }
    .taskLayers {
      height: 280px;
      .layer {
        padding: 20px 20px 10px 20px;
      }
      ul {
        padding:0 40px;
      }
      .symbol {
        padding: 5px 20px;
        cursor: pointer;
      }
    }

  }
  .sureButton {
    display: block;
    width: 80px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 1.2em;
    color: #fff;
    background: $titleBg;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
    outline:none;
  }

  //****************** 任务列表 *****************
  .taskList {
    width: 300px;
    float:right;
    border-left: 1px solid $border-grey;
    height: 82%;

    .taskListHead {
      margin-top: 20px;
      height:30px;
      ul {
        width:80%;
        margin:0 auto;
        li {
          display: inline-block;
          width: 48%;
          text-align: center;
          line-height: 29px;
          cursor:pointer;
          border:1px solid transparent;
        }
        .clicked{
          border:1px solid $border-grey;
          border-bottom:1px solid #fff;
        }
        .selectedTab {
          color: $titleBg;
          border-top: 1px solid $border-grey;
          border-left: 1px solid $border-grey;
          border-right: 1px solid $border-grey;
          border-bottom: 1px solid #fff;
        }
      }
      border-bottom: 1px solid $border-grey;
    }

    .list {
      margin: 10px;

      .listContent {
        margin: 5px 0;
        padding:10px 0;
        cursor:pointer;
        li {
          line-height: 16px;
          padding-left: 5px;
          span {
            padding-left: 5px;
          }
        }
        li+li {
          padding-top: 5px;
        }
        &:hover{
          background-color: $border-grey;
        }
      }
      .line {

        width: 90%;
        margin: auto;
        border-bottom: 1px solid $border-grey;
      }

    }
    .taskTable{
      height:500px;
      overflow-y:auto;
    }

    .taskProgress{
      display: none;
      .marktotal, .markattr{
        overflow: auto;
        min-height:200px;
        max-height:400px;
      }
      .editMarkName{
        width:75px;
      }
      .holder{
        text-align:center;
      }
      table, td, th {
        border: 1px solid $border-grey;
        text-align: center;
      }
      table {
        width: 90%;
        margin: 10px auto;
        text-align: center;
        line-height: 30px;
      }
      .subTitle {
        padding: 10px;
        color: $titleBg;
        span {
          color:red;
        }
      }
      .markattr{
        tr th:nth-child(1){
          width:100px;
        }
        select, input{
          width:85%;
        }
      }
    }
  }


  //******************* 地图 *********************
  .mapContent {
    margin:0 301px 0 231px;
    height:300px;
    background: grey;
  }

}