#login {
  display: block;
  input{
    outline:none;
  }
  .LoginPage {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial;
  }

  .LoginPart {
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
  }

  .loginTitle {
    font-family: arial, sans-serif;
    color: rgb(100, 168, 226);
    font-size: 2em;
    text-align: center;
  }

  .LoginPage .LoginPart .bd {
    width: 380px;
    margin: 0px auto;
    text-align: center;
  }

  .LoginPage .LoginPart .bd .form {
    margin-top: 30px;
  }

  .Login-title {
    padding: 0px 0px 10px;
    font-size: 15px;
  }
  .Login-title span {
    margin: 0px 10px;
    color: rgb(136, 136, 119);
    font-size: 13px;
  }

  .Login-title a:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  .link-Login, .link-Register {
    color: rgb(85, 85, 85);
    text-decoration: none;
    cursor:pointer;
  }
  .link-login:hover {
    text-decoration: none;
  }

  .link-Register:hover {
    cursor:pointer;
    text-decoration: none;
  }

  .Login-section {
    position: relative;
    margin-top: 15px;
    padding: 36px 30px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .Login-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -24px;
    left: 116px;
  }
  .Login-arrow .arrow {
    font-size: 0px;
    height: 0px;
    width: 0px;
    border-style: solid;
    border-width: 12px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .Login-arrow .arrow-basic {
    border-color: transparent transparent rgb(255, 255, 255);
    top: 1px;
  }
  .Login-arrow .arrow-border {
    border-color: transparent transparent rgb(195, 195, 195);
    top: 0px;
  }
  .Login-arrow .arrow-shadow-0 {
    border-color: transparent transparent rgba(0, 0, 0, 0.04);
    top: -1px;
  }
  .Login-arrow .arrow-shadow-1 {
    border-color: transparent transparent rgba(0, 0, 0, 0.02);
    top: -2px;
  }

  .form-item .form-field input {
    width: 300px;
    height: 30px;
    padding: 6px 8px;
    border: 1px solid rgb(170, 170, 170);
    font-size: 16px;
    border-radius: 4px;
  }
  .form .form-item .form-field {
    margin-top: 20px;
  }
  .form-field input:hover, .form-field input:focus {
    border-color: rgb(100, 168, 226);
  }
  .form .form-buttons {
    margin: 30px 0px 20px;
  }

  .desc {
    margin-top:5px;
    padding: 10px 0;
    color: rgb(153, 153, 153);
    font-size: 14px;
    cursor:pointer;
  }
  .desc a {
    color: rgb(153, 153, 153);
    text-decoration: none;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }

  .btn {
    padding: 6px 10px;
    margin: 0px 10px 0px 0px;
    width: 300px;
    height: 40px;
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 168, 226);
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background-clip: padding-box;
    -moz-user-select: none;
  }

  .forgot-pw a {
    text-decoration: none;
  }

}