$border-grey: #ccc;
$titleBg: #2f7fd0;
$taskHeadLine: #f1f2f3;
$light-blue: #d0eafa;
#managemap{
  width:100%;
  height:100%;
  min-width:1080px;
  //******************* 工具条 *********************

  .toolBar {

    width: 100%;
    height: 40px;
    border-bottom: 1px $border-grey solid;
    font-size: 14px;
    .tools {
      height: 30px;
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: left;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding:5px 10px;
    }
    li {
      display: inline-block;
      cursor: pointer;
    }

    .toolOne {
      width: 100px;
    }

    .toolScan {
      width: 180px;
      border-left: 1px $border-grey solid;
    }

    .toolChoose {
      width: 300px;
      ul{
        margin:2px 0 0 0;
        padding:0;
      }
      li {
        background: $light-blue;
        line-height: 16px;
        padding: 0px 10px;
        border-radius: 3px;
        height: 25px;
        position: relative;
        width: 100px;
        border: 1px solid $light-blue;
        img {
          position: absolute;
          top: 5px;
        }
        span {
          position: absolute;
          top: 5px;
          left: 30px;

        }

        &:hover {
          border: 1px solid $titleBg;
        }
      }
    }
  }



  //******************* 任务图层 *********************
  .Layers {
    width: 230px;
    float: left;
    height: 0;
    border-right: 1px solid $border-grey;
    .headline {
      background: $taskHeadLine;
      height: 30px;
      font-size: 1.3em;
      color: $titleBg;
      line-height: 30px;
      padding-left: 20px;
    }
    .taskLayers {
      height: 90%;
      .canedit, .cantedit{
        height: 45%;
      }
      .layer {
        padding: 20px 20px 10px 20px;
      }
      ul {
        padding:0 40px;
      }
      .symbol {
        padding: 5px 20px;
        cursor: pointer;
      }
    }

    .sureButton {
      display: block;
      width: 80px;
      margin: 10px auto;
      line-height: 30px;
      font-size: 1.2em;
      color: #fff;
      background: $titleBg;
      border-radius: 5px;
      text-align: center;
      cursor:pointer;
    }

    //拖动背景色
    .highlighted{
      background-color: lighten(yellow,20);
    }
    .validtarget{
      background-color: lightblue;
    }
  }

  //****************** 数据目录 *****************
  .taskList {
    width: 300px;
    float:right;
    border-left: 1px solid $border-grey;
    height: 82%;
    h1{
      font-size:1.5em;
      text-align:center;
      padding:10px 5px;
      background: $taskHeadLine;
      line-height: 20px;
      color: $titleBg;
    }
    #datatree{
      overflow: auto;
    }

  }


  //******************* 地图 *********************
  .mapContent {
    margin:0 301px 0 231px;
    height:300px;
    background: grey;
  }

}