#test{
  #inputContent{
    width:100%;
    height:200px;
  }
  #dataContent{
    width:100%;
    height:200px;
  }
  #outputContent{
    width:100%;
    height:200px;
  }
  #mybtn{
    width:150px;
    height:40px;
    text-align:center;
    margin:10px;
  }
}