<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <!--css样式结束-->
</head>
<div class="dynamicPage" id="active">
    <div class="dynamicContainer">
        <div class="dynamic-filter">
            <span>筛选动态：</span>
            <span id="filterSet">所有成员</span>
        </div>
        <div class="dynamic-section">
            <ul class="dynamicUl">
                <li class="dynamic-day">
                    <div class="dynamic-title-day">
                        <span>今</span>
                    </div>
                    <ul class="dynamic-project">
                        <li class="dynamic-content">
                            <div class="event-title">
                                <div class="titleLine"></div>
                                <div class="event-ProName">交互式上图标注产品</div>
                            </div>
                            <div class="event-desc">
                                <span class="event-time">13:30</span>
                                <div class="perLogo">
                                    <img src="../img/taskdetail/头像1.png">
                                </div>
                                <span class="event-actor">杨龙龙</span>
                                <span class="event-action">完成了任务：</span>
                                <span class="event-text">任务分配（地图）界面</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dynamic-day">
                    <div class="dynamic-title-day">
                        <span>昨</span>
                    </div>
                    <ul class="dynamic-project">
                        <li class="dynamic-content">
                            <div class="event-title">
                                <div class="titleLine"></div>
                                <span class="event-ProName">交管地理信息系统</span>
                            </div>
                            <div class="event-desc">
                                <span class="event-time">21:25</span>
                                <div class="perLogo">
                                    <img src="../img/taskdetail/头像1.png">
                                </div>
                                <span class="event-actor">蒋腾</span>
                                <span class="event-action">完成了任务：</span>
                                <span class="event-text">热力图的显示效果优化</span>
                            </div>
                        </li>
                        <li class="dynamic-content">
                            <div class="event-title">
                                <div class="titleLine"></div>
                                <span class="event-ProName">交互式上图标注产品</span>
                            </div>
                            <div class="event-desc">
                                <span class="event-time">09:40</span>
                                <div class="perLogo">
                                    <img src="../img/taskdetail/头像1.png">
                                </div>
                                <span class="event-actor">李灿</span>
                                <span class="event-action">完成了任务：</span>
                                <span class="event-text">图层管理部分函数实现</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dynamic-day">
                    <div class="dynamic-title-date">
                        <span class="event-date">2/16</span>
                        <span class="event-da">周五</span>
                    </div>
                    <ul class="dynamic-project">
                        <li class="dynamic-content">
                            <div class="event-title">
                                <div class="titleLine"></div>
                                <span class="event-ProName">交管道路数据处理</span>
                            </div>
                            <div class="event-desc">
                                <span class="event-time">22:24</span>
                                <div class="perLogo">
                                    <img src="../img/taskdetail/头像1.png">
                                </div>
                                <span class="event-actor">岳瀚</span>
                                <span class="event-action">完成了任务：</span>
                                <span class="event-text">编码检查工作现场指导</span>
                            </div>
                            <div class="event-desc">
                                <span class="event-time">22:24</span>
                                <div class="perLogo">
                                    <img src="../img/taskdetail/头像1.png">
                                </div>
                                <span class="event-actor">岳瀚</span>
                                <span class="event-action">完成了任务：</span>
                                <span class="event-text">行政道路检查工作</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="filterBd">
            <ul class="personnelList">
                <li>
                    <a href="javascript:;">李灿</a>
                </li>
                <li>
                    <a href="javascript:;">杨龙龙</a>
                </li>
                <li>
                    <a href="javascript:;">岳瀚</a>
                </li>
                <li>
                    <a href="javascript:;">蒋腾</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>