<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../bower_components/jstree/dist/jstree.js"></script>
    <script type="text/javascript" src="../bower_components/jquery-treeview/jquery.treeview.js"></script>
    <script type="text/javascript" src="../js/zivlib.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="../bower_components/jstree/dist/themes/default/style.min.css"/>
    <link type="text/css" rel="stylesheet" href="../bower_components/jquery-treeview/jquery.treeview.css"/>
    <link type="text/css" rel="stylesheet" href="../css/index.css"/>
    <!--css样式结束-->
</head>
<div id="managemap">
    <!--工具条开始-->
    <div class="toolBar">
        <div class="tools">
            <div class="toolOne">
                <ul>
                    <li id="newMap"><img src="../img/newFile.png"></li>
                    <li id="saveMap"><img src="../img/save.png"></li>
                </ul>
            </div>
            <div class="toolScan">
                <ul>
                    <li id="zoomout"><img src="../img/large.png"></li>
                    <li id="zoomin"><img src="../img/small.png"></li>
                    <li id="fullMap"><img src="../img/scan.png"></li>
                    <li id="panMap"><img src="../img/hand.png"></li>
                </ul>
            </div>
        </div>

    </div>
    <!--工具条结束-->

    <!--图层开始-->
    <div class="Layers">
        <div class="taskLayers">
            <div class="canedit">
                <div class="headline">可编辑图层</div>
                <div class="taskLayersContent">
                    <div class="layer">
                        <img src="../img/layer.jpg">
                        <span>图层</span>
                    </div>
                    <ul id="caneditLayer">
                        <li><label><input type="checkbox" value="layer1"/>&nbsp layer1</label>
                            <br/><img class="symbol" src="../img/symbol.jpg">
                        </li>
                        <li><label><input type="checkbox" value="layer2"/>&nbsp layer2</label>
                            <br/><img class="symbol" src="../img/symbol.jpg">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cantedit">
                <div class="headline">不可编辑图层</div>
                <div class="taskLayersContent">
                    <div class="layer">
                        <img src="../img/layer.jpg">
                        <span>图层</span>
                    </div>
                    <ul id="canteditLayer">
                        <li><label><input type="checkbox" value="layer1"/>&nbsp layer1</label>
                            <br/></br><img class="symbol" src="../img/symbol.jpg">
                        </li>
                        <li><label><input type="checkbox" value="layer2"/>&nbsp layer2</label>
                            <br/><img class="symbol" src="../img/symbol.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layerBtn">
            <button class="deleteButton">删除</button>
            <button class="sureButton">确定</button>
        </div>
    </div>
    <!--图层结束-->

    <!--数据目录开始-->
    <div class="taskList">
        <h1>数据目录</h1>

        <div>
            <ul id="datatree" class="filetree treeview-famfamfam">
                <li><span class="folder">数据目录</span>
                    <ul>
                        <li><span class="图层中间库"></span></li>
                        <li><span class="folder">底图库</span>
                            <ul>
                                <li><span class="folder">PostGIS库</span>
                                    <ul id="folder21">
                                        <li><span class="file" draggable="true" data-name="路网数据">路网数据</span></li>
                                        <li><span class="file" draggable="true" data-name="红绿灯数据">红绿灯数据</span></li>
                                    </ul>
                                </li>
                                <li class="closed"><span class="folder">WMTS服务</span>
                                    <ul>
                                        <li><span class="file" draggable="true" data-name="武汉市矢量底图">武汉市矢量底图</span></li>
                                        <li><span class="file" draggable="true" data-name="武汉市影像底图">武汉市影像底图</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--数据目录结束-->

    <!--地图开始-->
    <div class="mapContent"></div>
    <!--地图结束-->
</div>

<!--自定义脚本开始-->
<script src="../js/managemap.js"></script>
<!--自定义脚本结束-->
</body>
</html>