<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../js/zivlib.js"></script>
    <script type="text/javascript" src="../bower_components/ol3/ol.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <link type="text/css" rel="stylesheet" href="../bower_components/ol3/ol.css" />
    <!--css样式结束-->
</head>
<div id="map">
    <!--工具条开始-->
    <div class="toolBar">
        <div class="tools">
            <div class="toolOne">
                <ul>
                    <li id="newMap"><img src="../img/newFile.png"></li>
                    <li id="saveMap"><img src="../img/save.png"></li>
                </ul>
            </div>
            <div class="toolScan">
                <ul>
                    <li id="zoomout"><img src="../img/large.png"></li>
                    <li id="zoomin"><img src="../img/small.png"></li>
                    <li id="fullMap"><img src="../img/scan.png"></li>
                    <li id="panMap"><img src="../img/hand.png"></li>
                </ul>
            </div>
            <div class="toolChoose">
                <ul>
                    <li id="selectRect"><img src="../img/jx.png"><span>按矩形选择</span></li>
                    <li id="selectPoly"><img src="../img/dbx.png"><span>按多边形选择</span></li>
                    <li id="backoutBtn"><span>清除空任务的绘制</span></li>
                </ul>
            </div>
        </div>

    </div>
    <!--工具条结束-->
    <!--任务开始-->
    <div class="Layers">
        <div>
            <div class="taskLayers">
                <div class="headline">任务图层</div>
                <div class="taskLayersContent">
                    <div class="layer">
                        <img src="../img/layer.jpg">
                        <span>图层</span>
                    </div>
                    <ul>
                        <li><label><input type="checkbox" value="layer1" />&nbsp layer1</label>
                        </li>
                        <img class="symbol"  src="../img/symbol.jpg">
                        <li><label><input type="checkbox" value="layer2"/>&nbsp layer2</label>
                        </li>
                        <img class="symbol" src="../img/symbol.jpg">
                    </ul>
                </div>
            </div>
            <div class="taskDesc">
                <div class="headline">任务描述</div>
                <div class="taskDescContent">
                    <textarea></textarea>
                </div>
            </div>
            <div class="taskPp">
                <div class="headline">指派人员</div>
                <div class="taskPpContent">
                    <select>
                        <option>one</option>
                        <option>two</option>
                        <option>three</option>
                    </select>
                </div>
            </div>
            <div class="taskDate">
                <div class="headline">截至日期</div>
                <div class="taskDateContent">
                    <input type="date" />
                </div>
            </div>
            <button class="sureButton">确定</button>
        </div>
    </div>
    <!--任务结束-->

    <!--任务列表开始-->
    <div class="taskList">
        <div class="taskListHead">
            <ul>
                <li class="clicked">任务列表</li>
                <li>任务进度</li>
            </ul>
        </div>
        <!--任务内容开始-->
        <div class="list taskTable" >
            <div>
                <ul id="taskListUL">
                    <li>
                        <ul class="listContent">
                            <li>
                                <img src="../img/icon_ren.png">
                                <span>李钱</span>
                            </li>
                            <li>
                                <img src="../img/icon_renwu.png">
                                <span>标记珞瑜路沿路的红绿灯</span>
                            </li>
                            <li>
                                <img src="../img/icon_riqi.png">
                                <span>截至日期：2015年3月1日</span>
                            </li>
                        </ul>
                        <div class="line"></div>
                    </li>
                    <li>
                        <ul class="listContent">
                            <li>
                                <img src="../img/icon_ren.png">
                                <span>李钱</span>
                            </li>
                            <li>
                                <img src="../img/icon_renwu.png">
                                <span>标记珞瑜路沿路的红绿灯</span>
                            </li>
                            <li>
                                <img src="../img/icon_riqi.png">
                                <span>截至日期：2015年3月1日</span>
                            </li>
                        </ul>
                        <div class="line"></div>
                    </li>
                    <li>
                        <ul class="listContent">
                            <li>
                                <img src="../img/icon_ren.png">
                                <span>李钱</span>
                            </li>
                            <li>
                                <img src="../img/icon_renwu.png">
                                <span>标记珞瑜路沿路的红绿灯</span>
                            </li>
                            <li>
                                <img src="../img/icon_riqi.png">
                                <span>截至日期：2015年3月1日</span>
                            </li>
                        </ul>
                        <div class="line"></div>
                    </li>
                </ul>

            </div>
        </div>
        <!--任务内容结束-->

        <!--任务进度开始-->
        <div class="list taskProgress">
            <p class="subTitle">已标注总数: <span>106</span></p>
            <table>
                <tr>
                    <th>标注</th>
                    <th>时间</th>
                </tr>
                <tr>
                    <td>polygon01</td>
                    <td>2016年1月28日 15:08:20</td>
                </tr>
                <tr>
                    <td>polygon01</td>
                    <td>2016年1月28日 15:08:20</td>
                </tr>
                <tr>
                    <td>polygon01</td>
                    <td>2016年1月28日 15:08:20</td>
                </tr>
            </table>
            <p class="subTitle">标注属性</p>
            <table>
                <tr>
                    <th>属性名</th>
                    <th>属性值</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>001</td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td>线</td>
                </tr>
                <tr>
                    <td>等级</td>
                    <td>1</td>
                </tr>
            </table>

        </div>
        <!--任务进度结束-->
    </div>
    <!--任务列表结束-->

    <!--地图开始-->
    <div id="mapDiv" class="mapContent"></div>
    <!--地图结束-->
</div>

<!--自定义脚本开始-->
<script src="../js/map.js"></script>
<!--自定义脚本结束-->
</body>
</html>