<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <!--css样式结束-->
</head>
<div id="myself">
    <!--个人信息开始-->
    <div class="topinfo">
        <div class="icon">
            <img src="../img/taskdetail/头像3.png">
        </div>
        <div class="textinfo">
            <h1>张三</h1>
            <p>12345678@qq.com</p>
            <p>添加成员备注<span></span></p>

        </div>
    </div>
    <!--个人信息结束-->

    <div class="split">
        <p>任务</p>
    </div>

    <!--选择项目开始-->
    <div class="choose">
        <select>
            <option>协同标注工具</option>
            <option>协同标注工具</option>
        </select>
    </div>
    <!--选择项目结束-->

    <!--新任务开始-->
    <div class="taskcontent newtask">
        <div class="title">
            <div class="icon"></div>
            <span class="describe">新任务</span>
        </div>
        <div class="content">
            <p>当前没有新任务</p>
            <ul class="tasklist nodisplay">

            </ul>
        </div>
    </div>
    <!--新任务结束-->

    <!--今天开始-->
    <div class="taskcontent today">
        <div class="title">
            <div class="icon"></div>
            <span class="describe">今天</span>
        </div>
        <div class="content">
            <p>今日任务请放入这里</p>
            <ul class="tasklist nodisplay">

            </ul>
        </div>
    </div>
    <!--今天结束-->

    <!--接下来开始-->
    <div class="taskcontent next">
        <div class="title">
            <div class="icon"></div>
            <span class="describe">接下来</span>
        </div>
        <div class="content">
            <p class="nodisplay">当前没有新任务</p>
            <ul class="tasklist">
                <li class="onelist">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox"/>
                    <label>超级管理员添加图层界面</label>
                    <span class="append">杨龙龙 下周二</span>
                    <span class="append">交互式上图标注工具 - 开发</span>
                    <div class="popup">
                        <div class="delete"></div>
                        <div class="edit"></div>
                        <div class="start"></div>
                    </div>
                </li>
                <li class="onelist">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox"/>
                    <label>超级管理员添加图层界面</label>
                    <span class="append">杨龙龙 下周二</span>
                    <span class="append">交互式上图标注工具 - 开发</span>
                    <div class="popup">
                        <div class="delete"></div>
                        <div class="edit"></div>
                        <div class="start"></div>
                    </div>
                </li>
                <li class="onelist">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox"/>
                    <label>超级管理员添加图层界面</label>
                    <span class="append">杨龙龙 下周二</span>
                    <span class="append">交互式上图标注工具 - 开发</span>
                    <div class="popup">
                        <div class="delete"></div>
                        <div class="edit"></div>
                        <div class="start"></div>
                    </div>
                </li>
                <li class="onelist">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox"/>
                    <label>超级管理员添加图层界面</label>
                    <span class="append">杨龙龙 下周二</span>
                    <span class="append">交互式上图标注工具 - 开发</span>
                    <div class="popup">
                        <div class="delete"></div>
                        <div class="edit"></div>
                        <div class="start"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--接下来结束-->

    <!--以后开始-->
    <div class="taskcontent after">
        <div class="title">
            <div class="icon"></div>
            <span class="describe">以后</span>
        </div>
        <div class="content">
            <p>带考虑的任务请放入这里</p>
            <ul class="tasklist nodisplay">

            </ul>
        </div>
    </div>
    <!--以后结束-->

    <div class="overtask">
        <a href="#">查看已完成的任务</a>
    </div>

</div>
</body>
</html>