<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <!--css样式结束-->
</head>
<div id="project">
    <!--项目内容开始-->
    <div class="addProj">
        <div class="addMenu">
            <div class="addicon"></div>
            <div class="addProjBtn">增加项目</div>
            <div class="raster"></div>
            <div class="addList"></div>
        </div>
        <ul>
            <li>
                <img src="../img/projection/map.png"/>

                <p>武汉市道路标注</p>
            </li>
            <li>
                <img src="../img/projection/map.png"/>

                <p>武汉市道路标注</p>
            </li>
            <li>
                <img src="../img/projection/map.png"/>

                <p>武汉市道路标注</p>
            </li>
            <li>
                <img src="../img/projection/map.png"/>

                <p>武汉市道路标注</p>
            </li>
            <li>
                <img src="../img/projection/map.png"/>

                <p>武汉市道路标注</p>
            </li>
            <li>
                <img src="../img/projection/map.png"/>

                <p>武汉市道路标注</p>
            </li>

        </ul>
    </div>
    <!--项目内容结束-->

    <!--项目时间开始-->
    <!--<div class="proDate">-->
        <!--<div class="proTitle">项目有效时间</div>-->
        <!--<div class="subproDate">-->
            <!--<span>项目开始时间：</span>-->
            <!--<input type="date" placeholder="2016年1月29日">-->
            <!--<span>项目结束时间：</span>-->
            <!--<input type="date" placeholder="2016年5月29日">-->
        <!--</div>-->
    <!--</div>-->
    <!--项目时间结束-->

    <!--项目人员开始-->
    <div class="proPeople">
        <div class="proTitle">项目人员</div>
        <div class="proSubTitle">增加人员</div>
        <div class="subLine"></div>
        <ul>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
            <li>
                <img class="icon" src="../img/taskdetail/头像3.png"/>

                <div class="describ">
                    <h5>杨龙龙</h5>

                    <p>超级管理员</p>
                </div>
                <div class="fork"></div>
            </li>
        </ul>
    </div>
    <!--项目人员结束-->

    <!--图层列表开始-->
    <!--<div class="proList">-->
        <!--<div class="proTitle">图层列表</div>-->
        <!--<div class="proSubTitle">增加图层</div>-->
        <!--<div class="subLine"></div>-->
        <!--<table class="layerList">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>图层名称</th>-->
                <!--<th>图层大小</th>-->
                <!--<th>添加时间</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tr>-->
                <!--<td>wuhanRoad.shp</td>-->
                <!--<td>322.2kb</td>-->
                <!--<td>2016年1月28日 11:40</td>-->
                <!--<td>删除</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>wuhanRoad.shp</td>-->
                <!--<td>322.2kb</td>-->
                <!--<td>2016年1月28日 11:40</td>-->
                <!--<td>删除</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
    <!--图层列表结束-->
</div>
</body>
</html>