<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <!--css样式结束-->
</head>
<div id="setting">
    <h1 class="title">个人设置</h1>
    <!--个人信息开始-->
    <div class="topinfo">
        <div class="icon">
            <img src="../img/taskdetail/头像3.png">
        </div>
        <div class="textinfo">
            <h1>选择新头像</h1>

            <p>你可以选择 png/jpg 图片(100*100)作为头像</p>
        </div>
    </div>
    <!--个人信息结束-->

    <!--表单开始-->
    <div class="form">
        <form>
            <label for="email">邮箱</label>
            <input type="text" id="email" placeholder="请输入邮箱"/>
            <br/>
            <label for="name">名字</label>
            <input type="text" id="name" placeholder="请输入名字"/>
            <br/>
            <label for="oldpwd">旧密码</label>
            <input type="text" id="oldpwd" placeholder="请输入旧密码"/>
            <br/>
            <label for="newpwd">新密码</label>
            <input type="text" id="newpwd" placeholder="请输入新密码"/>
            <br/>
            <label for="new2pwd">新密码</label>
            <input type="text" id="new2pwd" placeholder="请再次输入新密码"/>
            <br/>
            <input type="submit"/>
        </form>
    </div>
    <!--表单结束-->
</div>

</body>
</html>