<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--js库开始-->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>     <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <!--js库结束-->

    <!--css样式开始-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css" />
    <link type="text/css" rel="stylesheet" href="../css/index.css" />
    <!--css样式结束-->
</head>
<div id="task">
    <!--项目名称开始-->
    <div class="topinfo">
        <h1>武汉市道路标注</h1>

        <div class="rightinfo">
            <div class="num">
                <h5>8</h5>

                <p>待处理任务</p>
            </div>
            <div class="people">
                <h5>5</h5>

                <p>成员</p>
            </div>
        </div>
    </div>
    <!--项目名称结束-->

    <!--任务菜单开始-->
    <div class="taskmenu">
        <div class="taskinfo">
            <span class="untasked">任务</span>
            <span class="tasked">已完成任务</span>
        </div>
        <div class="addtask">
            <span class="content">添加任务</span>
        </div>

    </div>

    <!--任务菜单结束-->

    <!--任务列表开始-->
    <ul class="tasklist">

    </ul>
    <!--任务列表结束-->

</div>

<!--自定义脚本开始-->
<script type="text/javascript" src="../js/task.js"></script>
<!--自定义脚本结束-->
</body>
</html>